<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статус задачи</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

<h3>МОВС-23 Шильцов Дмитрий</h3>

<a href="/">Главная</a> | <a href="/train">Тренировать</a> | <a href="/task_list">Смотреть очередь</a>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1>Type your wikipedia page address here:</h1>
<form action="{% url 'main:similar' %}" method="get">
    <input size="70" style= "height: 30px;" type="text" name="url" />
    <select style= "height: 30px; width: 70px;" name="cnt">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
   </select>
</form>
<br><br>
<h3>Статика:</h3>
<img src="/static/main/racat.jpg">

</body>
</html>
